mat-toolbar {
  justify-content: space-between;
}

.film-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-list-base .mat-list-item {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.spinner {
  align-self: center;
  padding-top: 25%;
}