<mat-list class="container">
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <div *ngFor="let day of getDaysOfWeek()">
      <mat-tab label="{{ day }}">
        <div class="film-cards-container">
          <mat-list-item *ngFor="let film of findFilmsByDay(repertuire[day])">
            <app-film-card [film]="film"></app-film-card>
          </mat-list-item>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
  <div class="spinner" *ngIf="films.length === 0">
    <mat-spinner></mat-spinner>
  </div>
</mat-list>
