mat-toolbar {
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.mat-list-base .mat-list-item {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.spinner {
  align-self: center;
  padding-top: 25%;
}