<mat-list class="container">
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <div *ngFor="let day of getDaysOfWeek()">
      <mat-tab label="{{ day }}">
        <mat-list-item
          class="film-card-container"
          *ngFor="let film of findFilmsByDay(repertuire[day])">
          <app-film-card [film]="film" ></app-film-card>
        </mat-list-item>
      </mat-tab>
    </div>
  </mat-tab-group>
  <div class="spinner" *ngIf="films.length === 0">
    <mat-spinner></mat-spinner>
  </div>
</mat-list>
