* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5C7FB8
}


.movie-card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #A9A8A3;
    margin-top: 60px;
}

.container {
    margin: 0 auto;
    width: 780px;
    background: #F0F0ED;
    border-radius: 5px;
    position: relative;
}

.hero {
    height: 342px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(61, 95, 195, 1);
    background-image: linear-gradient(90deg, rgba(61, 95, 195, 1) 0%, rgba(41, 53, 86, 1) 63%);
    z-index: -1;
    transform: skewY(-2.2deg);
    transform-origin: 0 0;
}

.cover {
    height: 282px;
    width: 187px;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 2;
}

.details {
    padding: 190px 0 0 280px;
}

.title2 {
    color: #C7C1BA;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}

.title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
}

.description {

    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #B1B0AC;

}

.column1 {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 120px;
    width: 220px;
    float: left;
    text-align: center;
}

.tag {
    background: white;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 4px;
    line-height: 35px;
    cursor: pointer;
}

.tag:hover{
    background-color: #5C7FB8;
}


.column2 {
    padding-left: 41px;
    padding-top: 30px;
    margin-left: 20px;
    width: 480px;
    float: left;
}

.wrong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}