.container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.film-card {
    margin: 16px;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width: 300px;
    max-height: 500px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.hours {
    display: flex;
}

.tag {
    background: white;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 4px;
    line-height: 35px;
    cursor: pointer;
}

.tag:hover {
    background-color: #5C7FB8;
}

.wrong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}